.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: auto;
  width: 70%;
}
.title {
  font-size: 3em;
}

.nav-title {
  font-size: 2em;
}

.jumbo {
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}
